<%- include menu %>
	<form action="/viewC/deleteSeasonchecks" method="POST">
		<table border="2" cellpadding="10" cellspacing="10" width="50%">
			<% for(var i = 0; i < data.length; i++) { %>
				<tr>
                    <td> <%= data[i].Sid %> </td>
					<td> <%= data[i].Eid %> </td>
					<td> <%= data[i].Ename %> </td>
					<td> <%= data[i].url %> </td>
                    

					<td> <a href="/viewE/deleteEpisode/<%= data[i].Eid%>">Delete</a> </td>
					<td> <a href="/viewE/updateEpisodeForm/<%= data[i].Eid %>">Update</a> </td>

					<td> <input type="checkbox" name="check" value="<%= data[i].Eid %>"> delete <%= data[i].Pid %> </td>
				</tr>
			<% } %>
		</table><br>
		<input type="submit" name="submit" value="Delete Selected">
	</form>
</body>
</html>